<!-- templates/accounts/buyer_signup.html -->
<!DOCTYPE html>
<html>
	<head>
		    <title>Register as Buyer</title>
		        <link rel="stylesheet" type="text/css" href="">
	</head>
	<body>
		    <h1>Register as Buyer</h1>
		        <form method="post">
				        {% csrf_token %}
					        {{ form.as_p }}
			
						<button type="submit">Register</button>

						{% if messages %}
						    <ul class="messages">
							            {% for message in messages %}
								                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
														        {% endfor %}
															    </ul>
															    {% endif %}
			</form>
	</body>
</html>

